@import url(../fonts/DynaPuff-Regular.ttf);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none;
  color: inherit;
}

.width-100{
    width: 100%;
}

.header{
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    position: relative;
    z-index: 3;
    .header__container{
        display: flex;
        justify-content: center;
        height: 800px;
        align-items: start;
        flex-wrap: wrap;
        width: 100%;
    .header__menu-start-bg{
        position: relative;
        z-index: 3;
        width: 100%;
        height: 99px;
        background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    }
    .header__menu-bg{
        width: 100%;
        height: 99px;
        z-index: 2;
        background: #202020;
        top: 0;
        position: fixed;
    }
    .header__menu{
        .header__header{
            padding-top: 20px;
        max-width: auto;
        width: 75%;
        }
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        position: fixed;
        background: transparent;
        padding-bottom: 20px;
box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.50);
z-index: 4;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li:not(:last-child){
                margin-right: 20px;
                
            }
            div{
                display: flex;
                align-items: center;
            }
        }
        .header__menu-item{
            padding: 10px 15px 10px 15px;
            border-radius: 25px;
            border: 1px solid white;
            color: white;
            img{
                fill:white;
                padding-right: 15px;
            }
            }
        }
        .header__title-container{
            width: 75%;
            justify-content: start;
            height: 100%;
            align-items: end;
            display: flex;
            padding-bottom: 200px;
            .header__title{
                color: #FFF;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
            }
        }
    }
}
.main{
    .meet{
        position: relative;
        background: #202020;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
        overflow: hidden;
        .meet__container{
            display: flex;
    width: 75%;
    height: 470px;
    flex-direction: row;
    align-items: center;
        .meet__list{
            display: flex;
            flex-direction: column;
            li:not(:last-child){
                padding-bottom: 40px;
            }
            .meet__nested-list{
                display: flex;
                flex-direction: row;
                li:not(:last-child){
                    padding-right: 100px;
                }
            }
        }
        .meet__title{
            color: #FAEB49;
font-family: DynaPuff;
font-size: 48px;
font-weight: 400;
        }
        .meet__text{
            color: #FFF;
font-family: Manrope;
font-size: 16px;
font-weight: 500;
        }
        .meet__number{
            color: #FFF;
font-family: DynaPuff;
font-size: 48px;
font-weight: 700;
        }
        .meet__description{
            color: #FFF;
font-family: Manrope;
font-size: 16px;
font-weight: 700;
        }
        
        }
        .meet__image{
            position: relative;
            display: flex;
    flex-direction: row-reverse;
        }
    }
    .meet::after{
        content: "";
        position: absolute;
        right: 0;
        width: 268px;
height: 512px;
transform: rotate(45deg);
flex-shrink: 0;
border-radius: 512px;
border: 1px solid #737373;
    }
    .meet::before{
        content: "";
        position: absolute;
        right: 0;
        width: 268px;
height: 512px;
transform: rotate(-45deg);
flex-shrink: 0;
border-radius: 512px;
border: 1px solid #737373;
    }
    .news{
        background: #3C3C3C;
        height: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
        .news__container{
            width: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            .news__list{
                .news__block:first-child{
                    margin-bottom: 60px;
                }
                .news__block:not(:first-child){
                    img{
                        width: 200px;
                        height: 400px;
                    }
                }
                .news__nested-list{
                    li{
                        flex:1;
                    }
                    .news__nested-list-item:not(:first-child){
                        margin-left:40px;
                    }
                }
                display: flex;
                flex-direction: column;
                .news__block{
                    .news__block-nested-image{
                        position: relative;
                    }
                    .news__block-nested-image::before{
                        content: url(../img/arrow-ellipse.svg);
                        z-index: 2;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                    }
                    .news__block-nested-image::after{
                        content: url(../img/Ellipse.svg);
                        z-index: 1;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    padding: 24px 24px 24px 24px;
                    img{
                        height: 338px;
                        object-fit: fill;
                    }
                    .news__block-text{
                        display: flex;
                        flex-direction: column;
                        li:first-child{
                            margin-bottom: 22px;
                        }
                        p{
                            margin-left: 0px !important;
                        }
                        h3{
                            margin-top: 20px;
                            color: #565656;
font-family: DynaPuff;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
                        }
                        p{
                            color: #000;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
                        }
                    }
                }
                .news__block:not(:first-child){
                    width: 30%;
                    
                }
                .news__block:first-child{
                    width: 100%;
                    border-radius: 24px;
                    background: #FFFEF2;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    .news__1-bg{
                        height: 450px;
                        border-radius: 13px;
                        background-image: url(../img/news_1_bg.jpg);
                        position: relative;
                        overflow: hidden;
                        img{
                            position: absolute;
                        }
                    }
                }
                img{
                    width: 100%;
                    height: auto;
                }
                ul{
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }
    .designs{
        background: #202020;
        height: 1220px;
        display: flex;
        justify-content: center;
        .designs__container{
            width: 75%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            h2{
                margin-top: 80px;
                margin-bottom: 25px;
                color: #FFF;
font-family: DynaPuff;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
            }
            .designs__list{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .designs__nested-list{
                    gap: 25px;
                }
                .designs__list-first-child{
                    width: 100%;
                    margin-bottom: 25px;
                }
                div{
                    max-height: 414px;
                    position: relative;
                }
                .designs__image:first-child(){
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    position: relative;
                }
                    .designs__image-1::after{
                        z-index: 1;
                        content: url(../img/Soft-Star.svg);
                        position: absolute;
                        top: calc(50% - 135px);
                        right: calc(50% - 134px);
                    }
                    .designs__image-2::after{
                        z-index: 1;
                        content: url(../img/Butterfly.svg);
                        position: absolute;
                        top: calc(50% - 100px);
                        right: calc(50% - 100px);
                    }
                    .designs__image-3::after{
                        z-index: 1;
                        content: url(../img/Asterisk.svg);
                        position: absolute;
                        top: calc(50% - 120px);
                        right: calc(50% - 115px);
                    }
                .designs__image:not(:first-child()){
                    width: 40%;
                    height: auto;
                }
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    width: 100%;
                    li{
                        width: 100%;
                        flex:1;
                    }
                }
            }
            img{
                height: 414px;
                object-fit: cover;
                filter: grayscale(100%);
                width: 100%;
            }
        }
    }
    .quote{
        height: 800px;
        background-image: url(../img/quote_bg.jpg);
        display: flex;
        justify-content: center;
        position: relative;
        .quote__container{
            z-index: 1;
            width: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            .quote__text{
                color: #FFF;
text-align: center;
font-family: DynaPuff;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
            }
        }
    }
    .quote::after{
        content:"" ;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
    }
}
.footer{
    height: 530px;
    background: #202020;
    display: flex;
    justify-content: center;
    .footer__container{
        width: 75%;
        display: flex;
        flex-direction: column;
        .footer__button{
            margin-top: 80px;
            display: flex;
            gap: 45px;
            flex-direction: row;
            justify-content: center;
            padding: 42px 137px 42px 137px;
            border-radius: 139px;
            border: 1px solid var(--Gray-6, #F2F2F2);
            .footer__button-list{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                li{
                    display: flex;
                    gap: 25px;
                }
            }
        .footer__title{
            color: #FFF;
text-align: center;
font-family: DynaPuff;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
        }
        .footer__text{
            color: #FFF;
text-align: center;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
        }
            ul{
                display: flex;
                flex-direction: column;
            }
        }
        .footer__logos-copyright{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            margin-bottom: 30px;
            .footer__logos-list{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .footer__nested-list{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .footer__copyright-text{
                    color: #FFF;
text-align: center;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
                }
            }
            
        }
    }    
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .header__title-container{
        width: 90%;
    }
    .header__wrapper{
        position: relative;
        li:last-child{
            display: none;
            
        }
    }
    .header__wrapper::after{
        content: url(../img/headaer-item.svg);
        width: auto;
        height: auto;
        position: fixed;
        right: calc(21% - 59px);
        top: calc(9% - 55px);
    }
    .header__header{
        width: 90%;
    }
    .news__nested-list{
        .news__nested-list-item:last-child{
            display: none;
        }
    }
    .news__container{
        width: 90%;
    }
    .meet__container{
        width: 90%;
    }
    .designs__container{
        width: 90%;
    }
    .quote__container{
        width: 90%;
    }
    .footer__container{
        width: 90%;
    }
    .footer__button{
        justify-content: space-evenly !important;
        gap: 20px !important;
        padding: 20px 40px !important;
        .footer__title{
            font-size: 35px !important;
        }
        .footer__text{
            font-size: 30px !important;
        }
        .footer__button-list{
            justify-content: center !important;
            gap: 25px !important;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
.header__title{
    font-size: 48px !important;
}
.header__title-container{
    width: 90%;
}
.header__wrapper{
    position: relative;
    li:last-child{
        display: none;
        
    }
}
.header__wrapper::after{
    content: url(../img/headaer-item.svg);
    width: auto;
    height: auto;
    position: fixed;
    right: calc(21% - 59px);
    top: calc(9% - 55px);
}
.header__header{
    width: 90%;
}
.news__nested-list{
    .news__nested-list-item:last-child
    {
        display: none;
    }
    .news__nested-list-item:first-child{
        display: none;
    }
}
.meet__container{
    width: 95%;
}
.designs__container{
    width: 95%;
}
.designs__nested-list{
    display: flex;
    flex-direction: column;
}
.news__container{
    width: 95%;
}
.quote{
    height: 500px;  
}
.quote__container{
    width: 95%;
}
.footer__container{
    width: 95%;
}
.news__nested-list{
    .news__nested-list-item{
        margin-left: 0px !important;
    }
}
.designs{
    height: 2000px !important;
}
.designs__nested-list{
    display: flex;
    flex-direction: column !important;
}
.footer__button{
    .footer__button-image{
        width: 20%;
        height: auto;
    }
    justify-content: space-evenly !important;
    gap: 20px !important;
    padding: 20px 20px !important;
    .footer__title{
        font-size: 25px !important;
    }
    .footer__text{
        font-size: 20px !important;
    }
    .footer__button-list{
        justify-content: center !important;
        gap: 25px !important;
    }
}
}